<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!--Stylesheet-->
	<link rel="stylesheet" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Blinker|IM+Fell+DW+Pica+SC&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<header>
	    <h1>My Views of the Future</h1>
		<nav>
			<ul>
				<li><a href="../partials/home.html"><button>Home</button></a></li>
				<li><a href="../partials/portfolio.html"><button>Portfolio</button></a></li>
			</ul>
		</nav>
	</header>
	<main>
	    <div class="container">
	        <h2>The Ideas!</h2>
	            <div class="port">
	                <figure>
	                    <img src="../img/vr-world.jpg" class="img-fluid" alt="VR">
	                    <figcaption>Virtual reality is the new reality! Video games and virtual reality seems to be the new popular escape from the actual world when we don't want to face reality. I feel that VR and and actual reality will cause much mental and social confusion, in the future.</figcaption>
	                </figure>
	           
	                <figure>
	                    <img src="../img/lady-robot.jpg" class="img-fluid" alt="Lady Robot">
	                    <figcaption>Humans will use robotics as a means of health and self body modifcation. Robotics can help with physical illnesses aready. I picture roborics becoming so advanced that we will use it to fix our body parts either for functuality or beauty. People and roboics will become one.</figcaption>
	                </figure>
	            
	                <figure>
	                    <img src="../img/cute-robot.jpg" class="img-fluid" alt="Cute Robot">
	                    <figcaption>Robots are becoming more human like daily. By 2100, there will be functional humanoids. with the quick advancement or current humanoids, I figure by 2100, they will be so advanced that robots will seem human like. </figcaption>
	                </figure>
	            
	                <figure>
	                    <img src="../img/world.jpg" class="img-fluid" alt="Earth">
	                    <figcaption>The earth is in our hands. Let's takes care of it! Keep it safe and clean so future generations can live and enjoy this beautiful planet.</figcaption>
	                </figure>
	            
	                <figure>
	                    <img src="../img/flower.jpg" class="img-fluid" alt="Nature">
	                    <figcaption>Nature is important for all living creatures! We get so many great resources from nature, whether it be food, shelter, or just enjoying outdoor activities. If we keep treating the planet the way we do, nature will slowly die and us along with it. Remember, humans are a part of nature too. We need it to live!</figcaption>
	                </figure>
	       
	                <figure>
	                    <img src="../img/mars.png" class="img-fluid" alt="Mars">
	                    <figcaption><a href="https://mars.nasa.gov/#red_planet/0"> NASA </a> is already exploring the possibilities of migration to Mars. They have even found signs of of a possibility to have life form there. Nasa is already planning to send rovers to mars in 2020 in hopes to find signs of life after much <a href="https://www.space.com/40819-mars-methane-organics-curiosity-rover.html">past research</a> has been collected. So in 2100, it could be possible to migrate there. If this does happen, let's hope that it is not due to our own over-crowded and over-polluted planet. Instead due to a new way to create a new civilization, but with the way we treat this planet already, is it really a good idea? Or will we be as self-destructive to Mars as we are to Earth?</figcaption>
	                </figure>  
	           </div> 
	        
	    </div>
	</main>
	<footer>
        <p>Designed by Tiffany Clarke &copy; August 2019</p>
        <a href="https://www.linkedin.com/in/tiffany-clarke-6aaa1117/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/tiffany.clarke.9469"><i class="fab fa-facebook-square"></i></a>
        <a href = "https://www.instagram.com/tiffy_boo_5/"><i class="fab fa-instagram"></i></a>
    </footer>
	
	 <!--My JS-->
	<script src="./js/index.js"></script>
	
	<!--Bootstrp Addons-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>